<html>
<head>
<title>Hello world</title>


<link type="text/css" rel="stylesheet" href=""/>
<script type="text/javascript" src="../Scripts/jquery/jquery-ui-1.10.3/themes/jquery-ui.min.css"></script>
<script type="text/javascript" src="../Scripts/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../Scripts/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../Scripts/jquery/jquery-ui-1.10.3/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="../Scripts/knockout/knockout-2.3.0.js"></script>
<script type="text/javascript" src="../Scripts/common/formatHelper.js"></script>
<script type="text/javascript" src="../Scripts/common/apiProxy.js"></script>
<script type="text/javascript" src="../Scripts/common/init.js"></script>



<script type="text/javascript" src="../Scripts/pageScripts/index.js"></script>


</head>
<body>

<div>
    <button data-bind="click: getList"><span data-bind="text: buttonText" ></span></button>

    <div data-bind="fadeInOut: showData, foreach: data, accordion: {}">
       
           <h3>
           <span data-bind="text: forename"></span>
           <span data-bind="text: surname"></span>
           </h3>
        <div></div>
       
    </div>

</div>
</body>
</html>
