
html,
body{
    font-family: Verdana, Helvetica, sans-serif;
    height: 100%;
    /*background-color: #FFFFCC;*/
}

.nav-last-child
{
    margin-right:15px !important;
}

.round-corner
{
    border-radius: 5px;
}

.wrap
{
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
      margin: 0 auto -60px;
      /* Pad bottom by footer height */
      padding: 0 0 120px;
}
.carousel-inner > .item > img.my_inline, .carousel-inner > .item > a > img.my_inline
{
    display: inline;
}
#average_score
{
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
}
footer
{
    height: 60px;
}
